<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
    <%- include('./common/_footer') %>

<<<<<<< HEAD
aaa
=======
ああああああああ
>>>>>>> 4131da7cbfced722d7e6a570d90894720eb33e08
    <% for (var i=0; i < 4; i++) { %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
      <% } %>


  </body>
</html>
